body {
  font-family: system-ui, Arial, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.table-container {
  margin: 0 auto;
  width: 90%; 
  max-height: 420px;
  overflow-y: auto;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  position: sticky;
  top: -0.5px;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

a {
  color: blue;
  text-decoration: none;
}
